@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, legend, button{
  font-family: 'Staatliches', cursive;
}
input, label, p,textarea{
  font-family: 'Poppins', sans-serif;
  color: #4E4958;
}
body{
  background: #BFD7E4;
}
body::before{
  display: block;
  content: '';
  height: 465px;
  width: 100%;
  
  background: #293241;

  position: absolute;
  top: 0;
  z-index: -1;
}
header h1, header p{
  color: #FFFFFF;
}
header h1{ 
font-size: 36px;
line-height: 45px;
height: 45px;
width: 300px;
}
header p{
  height: 45px;
  width: 390px;
  font-size: 16px;
  line-height: 24px;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
 
  margin: 110px auto 32px auto;  
}
header img{
  height: 100px;
  width: 225px;
}
form{
  width: 750px;
  background: #FFFFFF;
  margin: 16px auto;
  border-radius: 20px ;
  position: relative;
  z-index: 0;
  
}
form::before{
  content: '';
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  width: 750px;
  height: 133px;

  display: block;

  
  padding: 50px;
  background: #F67669;
  border-radius: 20px 20px 0 0;
}
.fieldset-wrapper{
  padding-bottom: 64px;
}
fieldset,button{
  display: flex;
  justify-content: center;
  border: none;
  margin: 0 64px;
}
fieldset legend{ 
  display: flex;
  justify-content: center;
  color: #253B51;
  font-size: 24px;
  line-height: 34px;
  margin: 50px auto 80px auto;
  width: 622px;
  padding: 7px;
  border-bottom: 1px solid #E6E6F0;
}
.center-legend{
  display: flex;
  justify-content: center;
  color:#FFFFFF;
  border: none;
  padding: 0px;
  
}
.name-surname{
  display: flex;
  gap: 22px;
}
#name,
#surname,
#menthor,
#date{
  width:300px;
}
.input-wrapper,
 .date-wrapper{
  display: flex;
  flex-direction: column;
  color: #4E4958;
}
.input-wrapper label, .date-wrapper label{
  margin-bottom: 8px;
  margin-top: 15px;
}
.input-wrapper span, .date-wrapper span{
  color: #777285;
  font-size: 12px;
  line-height: 20px;
  
}
.input-wrapper input,
.date-wrapper input,
textarea{
  height: 55px;

  padding: 8px;
 
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}
textarea{
  height: 150px;
  width: 600px;
}
.checkbox-wrapper input{
  position:absolute;
  opacity: 0;
  height: 24px;
  width: 24px;
}
.checkbox-wrapper{
  position: relative;
  margin-top: 30px;

  display: flex;
  align-items: center;
  gap: 8px;
}
.checkbox-wrapper label{
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkbox-wrapper label::before{
  display: block;
  content: '';
  height: 24px;
  width: 24px;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}
.checkbox-wrapper input:checked + label::before{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z'/%3E%3C/svg%3E");
  background-size: 100%;
}
.checkbox-wrapper input:focus + label::before{
  outline: solid 2px black;
}
.date-time-wrapper{
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}
.time-wrapper{
  display: flex;
  gap: 10px;
}
.time{
  width: 140px;
  margin-right: 10px;
}

button{
  padding: 15px 40px;
  gap: 10px;

  width: 622px;
  height: 51px;
 
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  
  background: #F67669;
  border: 0;
  border-radius: 8px;
}
button:hover{
  background: #da695d;
  cursor: pointer;
}